{
    "extends": [
        "eslint:recommended",
        "plugin:testing-library/react",
        "airbnb",
        "airbnb-typescript",
        "plugin:import/typescript",
        "airbnb/hooks",
        "prettier"
    ],
    "plugins": ["react", "@typescript-eslint", "testing-library"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 2018,
        "project": "tsconfig.json",
        "tsconfigRootDir": "./",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "jest": true,
        "node": true
    },
    "settings": {
        "jest": {
            "version": 27
        }
    },
    "rules": {
        "@typescript-eslint/no-use-before-define": "warn",
        "@typescript-eslint/no-unused-vars": "warn",
        "no-debugger": 0,
        "no-use-before-define": "off",
        "import/no-cycle": "off",
        "import/no-named-default": "off",
        "no-alert": 0,
        "no-await-in-loop": 0,
        "consistent-return": 0,
        "no-nested-ternary": 0,
        "no-return-assign": ["error", "except-parens"],
        "no-restricted-syntax": [2, "ForInStatement", "LabeledStatement", "WithStatement"],
        "no-unused-vars": [
            1,
            {
                "ignoreRestSiblings": true,
                "argsIgnorePattern": "res|next|^err"
            }
        ],
        "prefer-const": [
            "error",
            {
                "destructuring": "all"
            }
        ],
        "arrow-body-style": [2, "as-needed"],
        "no-unused-expressions": [
            2,
            {
                "allowTaggedTemplates": true
            }
        ],
        "import/no-extraneous-dependencies": [
            "off",
            {
                "devDependencies": ["**/*.test.ts", "**/*.test.tsx", "**/setupTests.ts"]
            }
        ],
        "import/prefer-default-export": "off",
        "jsx-quotes": ["warn", "prefer-single"],
        "jsx-a11y/href-no-hash": "off",
        "jsx-a11y/anchor-is-valid": [
            "warn",
            {
                "aspects": ["invalidHref"]
            }
        ],
        "linebreak-style": "off",
        "no-console": [
            "warn",
            {
                "allow": ["warn", "error"]
            }
        ],
        "react-hooks/exhaustive-deps": "off",
        "react/jsx-props-no-spreading": "off",
        "react/jsx-sort-props": "off",
        "react/jsx-one-expression-per-line": "off",
        "react/function-component-definition": "off",
        "react/react-in-jsx-scope": "off",
        "react/require-default-props": "off",
        "@typescript-eslint/comma-dangle": ["off"],
        "quotes": ["off", "single"]
    }
}
